.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 50px #ccc;
}
.text {
  vertical-align: middle;
  z-index: 1000;
}
.inline-round {
  background-color: tomato;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 20px tomato;
}
.flex {
  display: flex;
}
.p-20 {
  padding: 20px;
}
.center {
  justify-content: center;
  align-items: center;
}
.w-400 {
  width: 400px;
}
.h-100 {
  height: 100vh;
}
.shadowed-box {
  box-shadow: 5px 5px 50px 20px lightgray;
}
.border-box {
  border: 1px solid lightgray;
}
.border-round {
  border-radius: 10px;
}
table {
  border: 1px solid lightgray;
}
.dt-button {
  background-color: green !important;
  color: white !important;
  border-radius: 5px !important;
  border: none !important;
  transition: 0.5s all;
}
.dt-button:hover {
  background-color: darkgreen !important;
}

.dt-body-nowrap {
  white-space: nowrap;
}
.p-10 {
  padding: 10px;
}
.mb-0 {
  margin: 0;
}

.box {
  padding: 20px;
  box-shadow: 2px 2px 50px 2px lightgray;
}
